<div class="sidebar">

    <div class="logo">

        <i class="fa-solid fa-school"></i>

        <span>School ERP</span>

    </div>

    <ul class="sidebar-menu">

        <li>
            <a href="/dashboard">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/students">
                <i class="fa-solid fa-user-graduate"></i>
                Students
            </a>
        </li>

        <li>
            <a href="/teachers">
                <i class="fa-solid fa-chalkboard-user"></i>
                Teachers
            </a>
        </li>

        <li>
            <a href="/classes">
                <i class="fa-solid fa-school"></i>
                Classes
            </a>
        </li>

        <li>
            <a href="/sections">
                <i class="fa-solid fa-layer-group"></i>
                Sections
            </a>
        </li>

        <li>
            <a href="/subjects">
                <i class="fa-solid fa-book"></i>
                Subjects
            </a>
        </li>

        <li>
            <a href="/teacher-assignments">
                <i class="fa-solid fa-user-check"></i>
                Teacher Assignments
            </a>
        </li>

        <li>
            <a href="/attendance/reports">
                <i class="fa-solid fa-chart-column"></i>
                Attendance Reports
            </a>
        </li>

        <hr class="my-3">

        <li>
            <a href="/dashboard/profile">
                <i class="fa-solid fa-user"></i>
                My Profile
            </a>
        </li>

        <li>
            <a href="/dashboard/change-password">
                <i class="fa-solid fa-key"></i>
                Change Password
            </a>
        </li>

        <li>
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

</div>