<div class="sidebar">

    <div class="sidebar-header">

        <h3>

            School ERP

        </h3>

        <small>

            Teacher Panel

        </small>

    </div>

    <ul class="sidebar-menu">

        <li>

            <a href="/teacher/dashboard">

                <i class="fa-solid fa-house"></i>

                Dashboard

            </a>

        </li>

        <li>

            <a href="/teacher/attendance">

                <i class="fa-solid fa-calendar-check"></i>

                Attendance

            </a>

        </li>

        <hr class="my-3">

        <li>

            <a href="/teacher/profile">

                <i class="fa-solid fa-user"></i>

                My Profile

            </a>

        </li>

        <li>

            <a href="/teacher/change-password">

                <i class="fa-solid fa-key"></i>

                Change Password

            </a>

        </li>

        <li>

            <a href="/logout">

                <i class="fa-solid fa-right-from-bracket"></i>

                Logout

            </a>

        </li>

    </ul>

</div>