*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#0f172a;

font-family:Poppins,sans-serif;

overflow-x:hidden;

}

.layout{

display:flex;

min-height:100vh;

}

.main-content{

flex:1;

margin-left:270px;

display:flex;

flex-direction:column;

}

.content{

flex:1;

padding:30px;

}